<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dana &amp; Robbie's Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/media-queries.css">
  </head>
  <body>
    <header>
      <h1>Dana &amp; Robbie</h1>
      <nav>
        <ul>
          <li class="divider"><a href="/">Home</a></li>
          <li class="divider"><a href="/travel">Travel</a></li>
          <li class="divider"><a href="/weddingEvents">Wedding Events</a></li>
          <li class="divider"><a href="/steamboatAttractions">Steamboat Attractions</a></li>
          <li><a href="/registry">Registry</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}

    <footer>
      <p>Thank you for visiting! This website was created by <a href="https://github.com/robbiejaeger" target="_blank">Robbie</a>.</p>
    </footer>
  </body>
</html>
