<section class="main-content">
  <article class="centered">
    <h2>404 - Not Found</h1>
    <p>
      Sorry, that's not part of our wedding site, but you can find your way back <a href="/">Home</a>.
    </p>
  </article>
</section>
