<section class="main-content">
  <article class="centered">
    <h2>500 - Server Error</h1>
    <p>
      Whoops, something went wrong with the server, try going back <a href="/">Home</a>.
    </p>
  </article>
</section>
