<img class="top-img" src="img/bouqetInTree.jpeg" alt="Wedding bouqet sitting in tree by Austin Prock">

<section class="main-content">
  <article class="tmp centered">
    <h3>More info coming soon!</h3>
  </article>
</section>
