<img class="top-img" src="img/wildPurpleFlowers.jpeg" alt="Purple wildflowers by Jessica Ruscello">

<section class="main-content">
  <article class="centered">
    <h2>Sunday, September 3rd, 2017</h2>
    <h3>Steamboat Springs, Colorado</h3>

    <h3>{{daysRemaining}} days to go!</h3>
    <br>
  </article>
</section>
