<img class="top-img" src="img/wildPurpleFlowers.jpeg" alt="Purple wildflowers by Jessica Ruscello">

<section class="main-content">
  <article class="centered">
    <h2>Sunday, September 3rd, 2017</h2>
    <h3>Steamboat Springs, Colorado</h3>

    <h3>{{daysRemaining}} days to go!</h3>
  </article>

  <article>
    <h2>Dana and Robbie</h2>
    <p>
      Dana anad Robbie met in Boston.
    </p>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <img class="body-img" src="img/danaRobbieSF.jpg" alt="Dana and Robbie from a wedding in San Francisco">
  </article>
</section>
