<div class="photo-card">
  <img src="/img/engagement_photo_first_mountain.jpg" alt="Our Engagement Photo" id="engagement"/>

  <h1>DANA + ROBBIE</h1>

  <h2>Sunday, September 3rd, 2017</h2>
  <h2>Steamboat Springs, Colorado</h2>

  <h3>{{daysRemaining}} days to go!</h3>

  <h4>More information is coming soon.</h4>
</div>
