<img class="top-img" src="img/wildPurpleFlowers.jpeg" alt="Purple wildflowers by Jessica Ruscello">

<section class="main-content">
  <article class="centered">
    <h2>Sunday, September 3rd, 2017</h2>
    <h3>Steamboat Springs, Colorado</h3>

    <h3>{{daysRemaining}} days to go!</h3>
  </article>

  <article>
    <h2>Dana and Robbie</h2>
    <p>Dana anad Robbie met in October of 2014 while they were living in Boston.</p>
    <p>They moved to Denver in February of 2016 when Dana started working for Welltok.</p>

    <img class="body-img" src="img/danaRobbieSF.jpg" alt="Dana and Robbie from a wedding in San Francisco">
  </article>
</section>
