<section id="date-info" class="main-content">
  <article class="centered">
    <h2>Sunday, September 3rd, 2017</h2>
    <h3>Steamboat Springs, Colorado</h3>

    <h3>{{daysRemaining}} days to go!</h3>
  </article>
</section>

<section class="main-content">
  <article>
    <h2>Welcome!</h2>
    <p>
      Welcome to our wedding website! You can find information about our wedding day, reception, travel, accommodations, and fun things to do
      while you're in Steamboat Springs. We can't wait to celebrate with everyone!
    </p>
  </article>

  <img class="body-img" src="img/danaAndRobbieSF.jpeg" alt="Dana and Robbie from a wedding in San Francisco">

  <article>
    <h2>Our Story</h2>
    <p>
      We met in October of 2014 while living in Boston. The two greatest things that brought us together were our love of cooking and the outdoors
      (and maybe also that neither of us like to stay up past 9:30pm).
    </p>

    <img class="body-img" src="img/danaAndRobbieUpperFalls.JPG" alt="Dana and Robbie hiking at Upper Falls in Steamboat Springs">

    <p>
      Dana's job change brought us to Denver in February of 2016. Robbie took the opportunity to make a career shift and went back to school
      for six months to learn web development.  He's been teaching at that same school since his graduation.
    </p>

    <p>
      We love living in Denver and being so close to the Rocky Mountains. We're excited for you all to join us on our
       mountain wedding adventure and to show you why we love Colorado so much!
    </p>
  </article>
</section>
