<img class="top-img" src="img/colorfulColoradoKaitHerzog.jpeg" alt="Welcome to Colorado sign by Kait Herzog">

<section class="main-content">
  <article class="tmp centered">
    <h3>More info coming soon!</h3>
  </article>
</section>
