<img class="top-img" src="img/starsRyanHutton.jpeg" alt="Stars at night by Ryan Hutton">

<section class="main-content">
  <article class="tmp centered">
    <h3>More info coming soon!</h3>
  </article>
</section>
