<img class="top-img" src="img/mountainLandscapeIanBaldwin.jpeg" alt="Mountain landscape with snow by Ian Baldwin">

<section class="main-content">
  <article class="tmp centered">
    <h3>More info coming soon!</h3>
  </article>
</section>
