<img class="top-img" src="img/roxanne-desgagnes-87838.jpg" alt="Couple on Icebergs by Roxanne Desgagnes">

<section class="main-content">
  <article>
    <h2>Honeymoon Fund</h2>
    <p>
      If you've seen our kitchen, you know we don't need more stuff! We're skipping the traditional wedding registry and instead
      have set up a Honeyfund for the honeymoon of our dreams - Antarctica!
    </p>

    <h3 class="centered"><a href="https://www.honeyfund.com/wedding/OffToAntarctica" target="_blank">Click here to visit our Honeyfund</a></h3>
  </article>
</section>
