<img class="top-img" src="img/DR_Engagement-0008.jpg" alt="Dana hiking near Steamboat in a forest of aspen trees">

<section class="main-content">
  <article>
    <h2>Attractions Around Steamboat Springs</h2>
    <p>
      Steamboat isn't just a winter ski town - there is an abundance of
      <a href="https://www.steamboat.com/the-mountain/discover-steamboat-summer" target="_blank">summer activities</a> as well.
      Whether you're looking for a quick activity to fill some downtime during the wedding weekend or
      you're thinking about extending your stay a bit, we have lots of ideas for you!
    </p>

    <hr>

    <h3>Hiking</h3>
    <p>
      One thing Colorado is not short on is hiking and backpacking trails.
      <a href="http://www.steamboatchamber.com/events-activities/activities/fish-creek-falls" target="_blank">Fish Creek Falls</a>
      is the biggest bang for your buck in the area - great for families and children. It's a short walk (0.25 miles each way) down a
      gravel trail to a 280-foot waterfall! If you're in the mood for another waterfall along the same trail, then the Upper Falls is
      about 2.5 miles farther up the trail. The Upper Falls is not as large (the picture of us on the home page is at the Upper Falls),
       but the views along the way are spectacular.
    </p>
    <p>
      Here is a <a href="http://www.steamboatchamber.com/events-activities/activities/hiking-and-backpacking" target="_blank">list of hiking trails</a>
      in the Steamboat Springs area.
    </p>

    <h3>Mountain Biking</h3>
    <p>
      Ski season won't have started yet, but why not mountain bike
      down the slopes instead? The gondola can take you and your mountain bike up to the top! Adult
      <a href="https://www.steamboat.com/plan-your-trip/tickets-and-passes/mountain-bike-tickets" target="_blank">tickets</a>
      are $39 for an all-day pass. For more information on downhill mountain biking on the Steamboat mountain, see the
      <a href="https://www.steamboat.com/things-to-do/downhill-mountain-biking/bike-park-info" target="_blank">official Steamboat Bike Park website</a>.
    </p>
    <p>
      There are places to rent mountain bikes and take lessons. For more information, see the
      <a href="https://www.steamboat.com/things-to-do/downhill-mountain-biking" target="_blank">Steamboat Springs
      mountain biking tourism page</a>.
    </p>

    <h3>Fishing</h3>
    <p>
      Fish Creek and the Yampa River are very popular fly fishing areas. For more information, see the
      <a href="https://www.steamboat.com/things-to-do/activities/fishing" target="_blank">Steamboat Springs
      fishing tourism page</a>.
    </p>
    <p>
      If you need gear, there are also a few shops and outfitters in Steamboat Springs:
    </p>
    <p><a href="http://www.steamboatflyfisher.com/" target="_blank">Steamboat Flyfisher</a></p>
    <p><a href="http://www.buckingrainbow.com/" target="_blank">Bucking Rainbow Outfitters</a></p>
    <p><a href="http://www.edsflyshop.com/" target="_blank">Ed's Fly Shop</a></p>
    <p><a href="https://www.straightlinesports.com/" target="_blank">Straightline Outdoor Sports</a></p>

    <h3>Golfing</h3>
    <p>
      There are several public golf courses in Steamboat Springs. Just remember to bring sunblock so you don't look like a lobster for the wedding!
    </p>
    <p><a href="http://www.rollingstoneranchgolf.com/index.php" target="_blank">Rollingstone Ranch Golf Course</a></p>
    <p><a href="http://steamboatgolfclub.com/" target="_blank">Steamboat Golf Club</a></p>
    <p><a href="http://www.haymakergolf.com/" target="_blank">Haymaker Golf Course</a></p>

    <h3>Tubing on the Yampa River</h3>
    <p>
      If you want to experience the Yampa River from a comfortable inner tube,
      <a href="http://www.steamboatchamber.com/business-directory/list/sub-category/221" target="_blank">check out this page</a> for details.
      Be sure to check if tubing is still running because September is close to the end of the season.
    </p>

    <h3>Breweries</h3>
    <p>
      Colorado is known for its craft beer culture. There are many breweries in and close to Steamboat Springs.
      Here are four breweries that are close:
    </p>
    <p><a href="http://butcherknifebrewing.com/?ao_confirm" target="_blank">Butcher Knife Brewing</a></p>
    <p><a href="https://www.mountaintapbrewery.com/" target="_blank">Mountain Tap Brewery</a></p>
    <p><a href="http://www.stormpeakbrewing.com/" target="_blank">Storm Peak Brewing Company</a></p>
    <p><a href="http://www.mahoganyridgesteamboat.com/" target="_blank">Mahogany Ridge Brewery &amp; Grill</a></p>
  </article>
</section>
