<img class="top-img" src="img/danaHikingAspens.jpg" alt="Dana hiking near Steamboat in a forest of aspen trees">

<section class="main-content">
  <article>
    <h2>Attractions Around Steamboat Springs</h2>
    <p>
      Steamboat isn't just a winter ski town - there is an abundance of summer activities as well.
      Whether you're looking for a quick activity to fill some downtime during the wedding weekend or
      you're thinking about extending your stay a bit, we have lots of ideas for you!
    </p>

    <h3>Hiking</h3>
    <p>
      Fish Creek Falls
    </p>

    <h3>Mountain Biking</h3>
    <p>
      Gondola tickets are XXX per person per day...
    </p>

    <h3>Fishing</h3>

    <h3>Golfing</h3>

    <h3>Breweries?</h3>
  </article>
</section>
