<img class="top-img" src="img/colorfulColoradoKaitHerzog.jpeg" alt="Welcome to Colorado sign by Kait Herzog">

<section class="main-content">
  <article>
    <h2>Getting to Steamboat Springs</h2>

    <h3>Flying in to Steamboat</h3>
    <p>
      The closest commercial airport is the Hayden Airport (HDN), which is about a 30 minute drive from downtown Steamboat.
      Note that since it won't be ski season, there aren't direct flights into Hayden and you'll need to connect through Denver.
    </p>
    <p>
      If you do connect through Denver, make sure to leave yourself enough time for your layover since the connecting flights to Hayden leave from the gates at the
      very end of Denver's stretched out terminal (and depending on what airlines you are flying, you might need to take the
      airport train to switch terminals as well).
    </p>

    <h3>From Denver</h3>
    <h4>Renting a Car</h4>
    <p>
      If you'd like to skip the connecting flight, the drive from Denver to Steamboat is approximately three to four hours from Denver
      (plan for four since traffic to the mountains is usually heavy for holiday weekends). Though a little long, it's a beautiful, scenic drive as you pass
      through the Rocky Mountains.
    </p>
    <h4>Taking a Shuttle</h4>
    <p>
      If you would rather leave the driving up to someone else, then there is a
      <a href="https://www.steamboat.com/plan-your-trip/getting-here-and-around/airport-shuttles" target="_blank">shuttle from the Denver Airport to Steamboat</a>.
    </p>
    <p>
      Good news! If you're interested in using the GO Alpine shuttle service to get to Steamboat Springs, then you can get a 10% discount if you book through <a href="http://goalpine.hudsonltd.net/rwd?USERIDENTRY=MODJAE&amp;LOGON=GO" target="_blank">our GO Alpine portal</a>.
      If you do not use the portal, then you can still get the discount if you use the GO Alpine Group ID / Discount Code: MODJAE.
    </p>
  </article>
</section>

<hr>

<section class="main-content">
  <article>
    <h2>Where to Stay</h2>
    <p>
      With so many lodging options in Steamboat, we've decided not to reserve any hotel blocks. You're free to stay wherever best suits you and your travel schedule!
    </p>
    <p>
      Here's a map and list of of recommended options, depending on the type of accommodations you're looking for. There are many lodging options beyond this list:
    </p>


  </article>

  <article id="hotel-map">
    Slow or nonexistent internet? This would be a Google map of the hotel suggestions.
  </article>

  <article>
    <h3>Steamboat Grand</h3>
    <p>
      The Steamboat Grand is very close to the wedding location. You could practically step out of the building
      and onto the gondola! They offer single rooms all the way up to multi-bedroom condos.
    </p>
    <p>
      Book the <a href="http://steamboatgrand.com/" target="_blank">Steamboat Grand</a>.
    </p>

    <h3>Sheraton Steamboat Resort</h3>
    <p>
      The Sheraton Steamboat Resort is also very close to the wedding location. They offer single rooms all the way up to multi-bedroom condos.
    </p>
    <p>
      Book the <a href="http://www.sheratonsteamboatresort.com/" target="_blank">Sheraton Steamboat Resort</a>.
    </p>

    <h3>Hampton Inn &amp; Suites Steamboat Springs</h3>
    <p>
      The Hampton Inn &amp; Suites Steamboat Springs is a very reasonably priced hotel. While it is probably not within walking
      distance to the gondola, it is only a short drive away.
    </p>
    <p>
      Book the <a href="http://hamptoninn3.hilton.com/en/hotels/colorado/hampton-inn-and-suites-steamboat-springs-SBSCOHX/index.html" target="_blank">Hampton Inn &amp; Suites Steamboat Springs</a>.
    </p>

    <h3>Quality Inn &amp; Suites</h3>
    <p>
      The Quality Inn &amp; Suites is one of the more reasonably priced hotels for how close it is to the gondola. In nice weather, it is still within a walkable
      distance from the gondola.
    </p>
    <p>
      Book the <a href="https://www.choicehotels.com/colorado/steamboat-springs/quality-inn-hotels/co702?source=gyxt" target="_blank">Quality Inn &amp; Suites</a>.
    </p>

    <h3>Airbnb</h3>
    <p>
      Another great option is to rent an
      <a href="https://www.airbnb.com/s/Steamboat-Springs--CO?page=1&s_tag=xttOVzM3&allow_override%5B%5D=" target="_blank">Airbnb house in Steamboat Springs</a>
      especially if you're planning to extend your stay in Steamboat Springs or want to rent a house with others.
    </p>
  </article>

  <hr>

  <article>
    <h3>A Note About Altitude</h3>
    <p>
      The town of Steamboat is at an elevation of 6,700 feet and the Four Points Lodge where the ceremony and
      reception will be held is at 9,700 feet. There's less oxygen in the air in Steamboat compared to sea level
      so you might find you're a little more fatigued than normal or that you're more easily out of breath
      (and if you don't - try hustling up a couple flights of stairs when you get there!).
    </p>
    <p>
      In addition to the air being thinner, it is also much drier. It's critical to stay hydrated to
      help prevent any altitude sickness (especially headaches). A good rule of thumb is to take the amount of
      water you'd normally drink every day at sea level and double it. We recommend drinking extra water starting
      several days leading up to your travel to Steamboat as well.
    </p>
    <p>
      If you are very concerned about adjusting to the altitude, there are medications to help prevent altitude sickness.
      You'll need to talk with your doctor to determine if they're right for you.
    </p>
  </article>
</section>

<script type="text/javascript" src="js/hotelMap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCan5soFOrCdh3IAxR5rrleKuJ6qFy4g-U&callback=initMap"></script>
