<img class="top-img" src="img/colorfulColoradoKaitHerzog.jpeg" alt="Welcome to Colorado sign by Kait Herzog">

<section class="main-content">
  <article>
    <h2>Getting to Steamboat Springs</h2>

    <h3>Flying in to Steamboat</h3>
    <p>
      The closest commercial airport is the Hayden Airport (HDN), which is about a 30 minute drive from downtown Steamboat.
      Since it won't be ski season, there are limited flight options into Hayden and you will need to connect, likely through Denver.
    </p>
    <p>
      We recommend leaving yourself at least an hour layover since the connecting flights to Hayden leave from the gates at the
      very end of Denver's stretched out terminal (and depending on what airlines you are flying, you might need to take the
      shuttle to switch terminals as well).
    </p>

    <h3>From Denver</h3>
    <p>
      If you'd like to skip the connecting flight, you can either drive from Denver to Steamboat in a rental car or buy a shuttle ticket.
      The drive is approximately three to four hours from Denver (more likely four since much of Denver will be headed to various
      mountain towns for the long weekend), but is a beautiful, scenic drive as you pass through the Rocky Mountains.
    </p>
    <p>
      Or you might rather leave the driving up to somebody else.  If so, there is a shuttle from the Denver Airport to Steamboat.
    </p>
  </article>

  <article>
    <h2>Where to Stay</h2>
    <p>Here is a listing of suggested hotels in the Steamboat Springs area. We have not reserved any hotel blocks for the wedding. Mention AirBnb?</p>
  </article>

  <article id="hotel-map">
    Slow or nonexistent internet? This would be a Google map of the hotel suggestions.
  </article>

  <article>
    <h3>Steamboat Grand</h3>
    <p>This is a nice place...it's close to the gondola.</p>

    <h3>Sheraton Steamboat Resort</h3>
    <p>This is also a nice place...</p>

    <h3>Hampton Inn &amp; Suites Steamboat Springs</h3>
    <p>This is also a nice place...</p>

    <h3>Quality Inn &amp; Suites</h3>
    <p>This is also a nice place...</p>
  </article>
</section>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCan5soFOrCdh3IAxR5rrleKuJ6qFy4g-U&callback=initMap"></script>
<script type="text/javascript" src="js/hotelMap.js"></script>
