<img class="top-img" src="img/fourPointsLodge.jpg" alt="Four Points Lodge looking down into Steamboat Springs">

<section class="main-content">
  <article class="on-page-nav">
    <h2 class="centered">Wedding Events</h2>

    <ul>
      <li><a href="#drinks"><span class="heavy">Gathering Drinks</span> - Sept. 2nd</a></li>
      <li><a href="#ceremony"><span class="heavy">Ceremony and Reception</span> - Sept. 3rd</a></li>
      <li><a href="#brunch"><span class="heavy">Brunch</span> - Sept. 4th</a></li>
    </ul>
  </article>

  <article id="drinks">
    <h3>Drinks the Day Before the Wedding</h3>
    <article class="schedule-info">
      <h4 class="centered">Gathering Drinks Timeline</h4>
      <p><span class="heavy">8-10pm Saturday</span> - Come by the <a href="https://www.google.com/maps/place/Laundry/@40.4886585,-106.8375315,15z/data=!4m5!3m4!1s0x0:0xfaef815cec5093dc!8m2!3d40.4886585!4d-106.8375315" target="_blank">Laundry</a> restaurant in downtown Steamboat Springs (127 11th Street).</p>
      <p>It will be a great chance to see everyone, meet people, and have a drink together the day before the wedding.</p>
    </article>
    <p>
      Feel free to come by as you please, but don't forget to say hi to us! We will also have your welcome bags there for you to pick up.
    </p>
  </article>

  <hr>

  <article id="ceremony">
    <h3>Ceremony and Reception</h2>
    <p>
      The ceremony will be held at Four Points Lodge - on top of the Steamboat mountain!
    </p>
  </article>

  <article>
    <h3>Getting to the Ceremony</h3>
    <p>
      There is parking available at the base of the mountain.
      <a href="https://www.steamboat.com/plan-your-trip/getting-here-and-around/parking-map" target="_blank">Click here</a>
      to see an up-to-date parking map. All guests will need to take the gondola up to the Thunderhead Lodge. From the Thunderhead Lodge,
      there will be shuttles waiting to take you to Four Points Lodge, which is where the ceremony and reception will be held.
      The gondola is free for all wedding guests.
    </p>
    <p>
      We will have alternate arrangements for those who will not be able to take the gondola.
      You will need to let Dana know by August 4th in order to schedule a shuttle from the base of the mountain.
    </p>
    <p>
      From the Thunderhead Lodge, the shuttles will drop you off right at the wedding venue. The ceremony site is on the west side of the Four Points Lodge.
    </p>
  </article>

  <article>
    <h3>Reception</h3>
    <p>
      The reception will be held at the same location as the ceremony - Four Points Lodge. There is a main indoor dining area
      along with an outdoor patio to enjoy the views from the lodge.
    </p>
    <p>
      When you're all celebrated out, getting down the mountain from the reception is easy. Shuttles from Four Points Lodge leave
      every thirty minutes until the end of the reception and will take you back to the top of the gandola. A nighttime 
      gandola ride down the mountain will cap off the night.
      <!-- Last call is 10:30pm, and all remaining guests must be on the last shuttle at 11pm. -->
    </p>
  </article>

  <article>
    <h3>Wedding Schedule and Logistics</h3>
    <p>
      The ceremony will be in the late afternoon/early evening with a dinner reception and dancing to follow.
    </p>
    <article class="schedule-info">
      <h4 class="centered">Ceremony and Reception Timeline</h4>
      <p>These times are subject to change, but will be finalzed within a couple weeks before the wedding day.</p>
      <p><span class="heavy">4:15-4:30pm</span> - Guests board gondolas, and then shuttles take you from Thunderhead Lodge to Four Points.</p>
      <p><span class="heavy">5:00pm</span> - Ceremony begins at Four Points.</p>
      <p><span class="heavy">6:00pm</span> - Cocktail hour followed by reception.</p>
      <p>During the reception, shuttles down to the top of the gondola will be available every half hour with the last shuttle leaving at 11:30pm.</p>
      <p>All remaining guests must take the 11:30pm shuttle down to the top of the gondola.</p>
      {{!-- <p class="centered"><a href="/pdf/schedule.pdf" target="_blank">Click here</a> to view and download a PDF of this schedule.</p> --}}
    </article>
  </article>

  <hr>

  <article id="brunch">
    <h3>Monday Morning Brunch</h3>
    <article class="schedule-info">
      <h4 class="centered">Brunch Timeline</h4>
      <p><span class="heavy">9am-12pm Monday</span> - Dana's parents, Debbie and Moz, are hosting a brunch at their home in Steamboat Springs.</p>
      <p>
        It will be a very casual, open-house brunch - you can come by, say hello, and leave when you need to. Everyone, 
        children included, are invited to brunch.
      </p>
    </article>
    <p>
      An electronic invitation has been sent - please RSVP to the brunch using the electronic invitation.
    </p>
  </article>

  <hr>

  <article>
    <h3>A Note About Altitude</h3>
    <p>
      The town of Steamboat is at an elevation of 6,700 feet and the Four Points Lodge where the ceremony and
      reception will be held is at 9,700 feet. There's less oxygen in the air in Steamboat compared to sea level
      so you might find you're a little more fatigued than normal or that you're more easily out of breath
      (and if you don't - try hustling up a couple flights of stairs when you get there!).
    </p>
    <p>
      In addition to the air being thinner, it is also much drier. It's critical to stay hydrated to
      help prevent any altitude sickness (especially headaches). A good rule of thumb is to take the amount of
      water you'd normally drink every day at sea level and double it. We recommend drinking extra water starting
      several days leading up to your travel to Steamboat as well.
    </p>
    <p>
      If you are very concerned about adjusting to the altitude, there are medications to help prevent altitude sickness.
      You'll need to talk with your doctor to determine if they're right for you.
    </p>
  </article>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
