<img class="top-img" src="img/fourPointsLodge.jpg" alt="Four Points Lodge looking down into Steramboat Springs">

<section class="main-content">
  <article>
    <h2>Ceremony and Reception</h2>
    <p>
      The ceremony will be held at Four Points Lodge - on top of the Steamboat mountain!
    </p>
  </article>

  <article>
    <h3>Getting to the Ceremony</h3>
    <p>
      There is parking available at the base of the mountain.
      <a href="https://www.steamboat.com/plan-your-trip/getting-here-and-around/parking-map" target="_blank">Click here</a>
      to see an up-to-date parking map. All guests will need to take the gondola up to the Thunderhead Lodge. From the Thunderhead Lodge,
      there will be shuttles waiting to take you to Four Points Lodge, which is where the ceremony and reception will be held.
      The gondola is free for all wedding guests.
    </p>
    <p>
      We will have alternate arrangements for those who will not be able to take the gondola.
      You will need to let Dana know by July 1st in order to schedule a shuttle from the base of the mountain.
    </p>
    <p>
      From the Thunderhead Lodge, the shuttles will drop you off right at the wedding venue.  The ceremony site is on the west side of the Four Points Lodge.
    </p>
  </article>

  <article>
    <h3>Reception</h3>
    <p>
      The reception will be held at the same location as the ceremony - Four Points Lodge. There is a main indoor dining area
      along with an outdoor patio to enjoy the views from the lodge.
    </p>
    <p>
      When you're all celebrated out, getting down the mountain from the reception is easy. Shuttles from Four Points Lodge leave
      every thirty minutes until the end of the reception.
      <!-- Last call is 10:30pm, and all remaining guests must be on the last shuttle at 11pm. -->
    </p>
  </article>

  <hr>

  <article>
    <h3>Wedding Schedule and Logistics</h3>
    <p>
      The ceremony will be in the late afternoon/early evening with a dinner reception and dancing to follow.
      Once we have the final timeline (including when you need to be on the gondola in order to make the shuttle), we'll be sure to let you know!
    </p>
    <!-- <p><span class="heavy">5:15pm</span> - Ceremony begins</p>
    <p>After ceremony ends, shuttles down to the base of the mountain begin and they run every thirty minutes.</p>
    <p><span class="heavy">7:30pm</span> - Guests take seats for reception</p>
    <p><span class="heavy">8:00pm</span> - Reception dinner begins</p>
    <p><span class="heavy">10:30pm</span> - Last call</p>
    <p><span class="heavy">11:00pm</span> - Last shuttle to the base of the mountain (no one can stay after this last shuttle)</p> -->
  </article>

  <hr>

  <article>
    <h3>Monday Morning Brunch</h3>
    <p>
      Dana's parents are hosting a brunch on Monday morning from <span class="heavy">9am - 12pm</span> at their house in Steamboat Springs. It will be a very casual, open-house brunch - you can come by,
      say hello, and leave when you need to. Everyone, children included, are invited to brunch.
    </p>
  </article>

  <hr>

  <article>
    <h3>A Note About Altitude</h3>
    <p>
      The town of Steamboat is at an elevation of 6,700 feet and the Four Points Lodge where the ceremony and
      reception will be held is at 9,700 feet. There's less oxygen in the air in Steamboat compared to sea level
      so you might find you're a little more fatigued than normal or that you're more easily out of breath
      (and if you don't - try hustling up a couple flights of stairs when you get there!).
    </p>
    <p>
      In addition to the air being thinner, it is also much drier. It's critical to stay hydrated to
      help prevent any altitude sickness (especially headaches). A good rule of thumb is to take the amount of
      water you'd normally drink every day at sea level and double it. We recommend drinking extra water starting
      several days leading up to your travel to Steamboat as well.
    </p>
    <p>
      If you are very concerned about adjusting to the altitude, there are medications to help prevent altitude sickness.
      You'll need to talk with your doctor to determine if they're right for you.
    </p>
  </article>
</section>
