<img class="top-img" src="img/bouqetInTree.jpeg" alt="Wedding bouqet sitting in tree by Austin Prock">

<section class="main-content">
  <article>
    <h2>Ceremony and Reception</h2>
    <p>The ceremony will be held at Four Points Lodge.</p>
  </article>

  <article>
    <h3>Getting to the Ceremony</h3>
    <p>You have to do the gondola...</p>
  </article>

  <article>
    <h3>A Note About Altitude</h3>
    <p>It's high up....air is tiny.</p>
  </article>
</section>
