body {
  background-color: #FFF;
  color: #444;
  font-family: 'EB Garamond', serif;
  margin: 0px auto 50px auto;
  max-width: 800px;
}

h1 {
  font-family: 'Arima Madurai', sans-serif;
  font-size: 5em;
  font-weight: 400;
}

h2, h3, h4 {
  font-family: 'EB Garamond', serif;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 12px 0px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 12px 0px;
}

.heavy {
  font-weight: 600;
}

/* Header and Navigation */

header {
  margin-top: 45px;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px
}

nav a {
  font-family: 'Pontano Sans', sans-serif;
  color: #222;
  font-size: 1em;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid #FFF;
}

nav a:hover {
  border-bottom: 1px solid #AAA;
  transition: border-color 0.4s ease;
}

nav a:active {
  color: #AAA;
  border-bottom: 1px solid #BBB;
}

.divider {
  border-right: 1px solid #DDD;
}

/* Images */

.top-img {
  display: block;
  margin: 20px auto 30px auto;
  width: 100%;
}

.body-img {
  display: block;
  margin: 20px auto 30px auto;
  width: 100%;
}

/* Content */

.main-content {
  width: 95%;
  margin: auto;
}

.centered {
  width: 50%%;
  text-align: center;
}

p {
  font-size: 1.25em;
  margin-bottom: 12px;
  line-height: 110%
}

.tmp {
  margin-top: 50px;
}

/* Maps */

#hotel-map {
  height: 400px;
  background-color: lightgrey;
  text-align: center;
}
